@media (max-width: 768px) {
  i {
    font-size: x-small;
  }
  li {
    position: relative;
      right: 50px;
  }
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f6f3ec;
  color: white;
  min-height: 100vh;
}

nav {
  display: flex;
  background-color: #0c4941;
  height: 80px;
  position: relative;
  align-items: center;
}

ul {
  display: flex;
  gap: 25px;
  align-items: center;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}
.logo {
  margin-right: 3%;
  margin-left: 7%;
}

nav .logo {
  display: flex;
  flex-direction: column;
}

i {
  font-size: xx-large;
  margin-right: 1%;
}

h1 {
  color: #e4a61b;
}
a:hover {
  color: #e4a61b;
}